# Generating Synthetic Dataset Using R

In [3]:
install.packages("synthpop")

also installing the dependencies ‘TH.data’, ‘multcomp’, ‘truncnorm’, ‘mvtnorm’, ‘modeltools’, ‘strucchange’, ‘coin’, ‘sandwich’, ‘spData’, ‘e1071’, ‘cmm’, ‘Rsolnp’, ‘party’, ‘proto’, ‘polspline’, ‘classInt’, ‘mipfp’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [5]:
library(synthpop)

Loading required package: lattice
Loading required package: MASS
Loading required package: nnet
Loading required package: ggplot2

In [2]:
black_fri_sales <- read.csv(file="/home/jovyan/Hackathon/sample_data_black_friday_sales.csv", header=TRUE, sep=",")

In [6]:
head(black_fri_sales)

  X Gender Age   Occupation City_Category Stay_In_Current_City_Years
1 0 F      0-17  10         A             2
2 1 F      0-17  10         A             2
3 2 F      0-17  10         A             2
4 3 F      0-17  10         A             2
5 4 M      55    16         C             4
6 5 M      26-35 15         A             3
  Marital_Status Product_Category_1 Product_Category_3 Purchase
1 0               3                  0                  8370
2 0               1                 14                 15200
3 0              12                  0                  1422
4 0              12                  0                  1057
5 0               8                  0                  7969
6 0               1                  0                 15227

In [7]:
my.seed <- 17914709
sds.default <- syn(black_fri_sales, seed = my.seed, visit.sequence = c(2,3,4,5,6,7,8,9,10))

Variable(s): X not synthesised or used in prediction.
CAUTION: The synthesised data will contain the variable(s) unchanged.

Synthesis
-----------
 Gender Age Occupation City_Category Stay_In_Current_City_Years Marital_Status Product_Category_1 Product_Category_3 Purchase

In [8]:
sds.default

Call:
($call) syn(data = black_fri_sales, visit.sequence = c(2, 3, 4, 5, 6,
    7, 8, 9, 10), seed = my.seed)

Number of synthesised data sets:
($m)  1

First rows of synthesised data set:
($syn)
  X Gender   Age Occupation City_Category Stay_In_Current_City_Years
1 0      M 36-45         15             B                          4
2 1      M 26-35         14             C                          1
3 2      F 36-45         14             B                          1
4 3      M 26-35          2             C                          4
5 4      M 46-50         12             C                          0
6 5      M 36-45          0             B                          2
  Marital_Status Product_Category_1 Product_Category_3 Purchase
1              1                  1                 17    15279
2              0                  5                  0     7155
3              0                  5                  0     7138
4              0                  5                  0     6995
5              1                  1                  0    15396
6              0                  5                  0     7095
...

Synthesising methods:
($method)
                         X                     Gender
                        ""                   "sample"
                       Age                 Occupation
                    "cart"                     "cart"
             City_Category Stay_In_Current_City_Years
                    "cart"                     "cart"
            Marital_Status         Product_Category_1
                    "cart"                     "cart"
        Product_Category_3                   Purchase
                    "cart"                     "cart"

Order of synthesis:
($visit.sequence)
                    Gender                        Age
                         2                          3
                Occupation              City_Category
                         4                          5
Stay_In_Current_City_Years             Marital_Status
                         6                          7
        Product_Category_1         Product_Category_3
                         8                          9
                  Purchase
                        10

Matrix of predictors:
($predictor.matrix)
                           X Gender Age Occupation City_Category
X                          0      0   0          0             0
Gender                     0      0   0          0             0
Age                        0      1   0          0             0
Occupation                 0      1   1          0             0
City_Category              0      1   1          1             0
Stay_In_Current_City_Years 0      1   1          1             1
Marital_Status             0      1   1          1             1
Product_Category_1         0      1   1          1             1
Product_Category_3         0      1   1          1             1
Purchase                   0      1   1          1             1
                           Stay_In_Current_City_Years Marital_Status
X                                                   0              0
Gender                                              0              0
Age                                                 0              0
Occupation                                          0              0
City_Category                                       0              0
Stay_In_Current_City_Years                          0              0
Marital_Status                                      1              0
Product_Category_1                                  1              1
Product_Category_3                                  1              1
Purchase                                            1              1
                           Product_Category_1 Product_Category_3 Purchase
X                                           0                  0        0
Gender                                      0                  0        0
Age                                         0                  0        0
Occupation                                  0                  0        0
City_Category                               0                  0        0
Stay_In_Current_City_Years                  0                  0        0
Marital_Status                              0                  0        0
Product_Category_1                          0                  0        0
Product_Category_3                          1                  0        0
Purchase                                    1                  1        0

In [11]:
summary(sds.default)

Synthetic object with one synethesis using methods:
                         X                     Gender
                        ""                   "sample"
                       Age                 Occupation
                    "cart"                     "cart"
             City_Category Stay_In_Current_City_Years
                    "cart"                     "cart"
            Marital_Status         Product_Category_1
                    "cart"                     "cart"
        Product_Category_3                   Purchase
                    "cart"                     "cart"

       X         Gender       Age          Occupation     City_Category
 Min.   :    0   F:12060   0-17 : 1375   Min.   : 0.000   A:13993
 1st Qu.:12500   M:37940   18-25: 9627   1st Qu.: 2.000   B:20755
 Median :25000             26-35:19699   Median : 7.000   C:15252
 Mean   :25000             36-45: 9851   Mean   : 8.141
 3rd Qu.:37499             46-50: 4000   3rd Qu.:14.000
 Max.   :49999             51-55: 3474   Max.   :20.000
                           55   : 1974
 Stay_In_Current_City_Years Marital_Status   Product_Category_1
 Min.   :0.000              Min.   :0.0000   Min.   : 1.000
 1st Qu.:1.000              1st Qu.:0.0000   1st Qu.: 1.000
 Median :2.000              Median :0.0000   Median : 5.000
 Mean   :1.867              Mean   :0.4107   Mean   : 5.301
 3rd Qu.:3.000              3rd Qu.:1.0000   3rd Qu.: 8.000
 Max.   :4.000              Max.   :1.0000   Max.   :18.000

 Product_Category_3    Purchase
 Min.   : 0.000     Min.   :  187
 1st Qu.: 0.000     1st Qu.: 5844
 Median : 0.000     Median : 8038
 Mean   : 3.919     Mean   : 9276
 3rd Qu.: 8.000     3rd Qu.:12041
 Max.   :18.000     Max.   :23958

In [12]:
summary(black_fri_sales)

       X         Gender       Age          Occupation     City_Category
 Min.   :    0   F:12188   0-17 : 1409   Min.   : 0.000   A:14049
 1st Qu.:12500   M:37812   18-25: 9615   1st Qu.: 2.000   B:20721
 Median :25000             26-35:19731   Median : 7.000   C:15230
 Mean   :25000             36-45: 9847   Mean   : 8.143
 3rd Qu.:37499             46-50: 4006   3rd Qu.:14.000
 Max.   :49999             51-55: 3490   Max.   :20.000
                           55   : 1902
 Stay_In_Current_City_Years Marital_Status   Product_Category_1
 Min.   :0.00               Min.   :0.0000   Min.   : 1.000
 1st Qu.:1.00               1st Qu.:0.0000   1st Qu.: 1.000
 Median :2.00               Median :0.0000   Median : 5.000
 Mean   :1.86               Mean   :0.4098   Mean   : 5.305
 3rd Qu.:3.00               3rd Qu.:1.0000   3rd Qu.: 8.000
 Max.   :4.00               Max.   :1.0000   Max.   :18.000

 Product_Category_3    Purchase
 Min.   : 0.000     Min.   :  185
 1st Qu.: 0.000     1st Qu.: 5852
 Median : 0.000     Median : 8045
 Mean   : 3.859     Mean   : 9279
 3rd Qu.: 8.000     3rd Qu.:12033
 Max.   :18.000     Max.   :23958

In [16]:
write.csv(sds.default$syn, file = "/home/jovyan/Hackathon/synthetic_data.csv")

In [18]:
head(sds.default$syn)

  X Gender Age   Occupation City_Category Stay_In_Current_City_Years
1 0 M      36-45 15         B             4
2 1 M      26-35 14         C             1
3 2 F      36-45 14         B             1
4 3 M      26-35  2         C             4
5 4 M      46-50 12         C             0
6 5 M      36-45  0         B             2
  Marital_Status Product_Category_1 Product_Category_3 Purchase
1 1              1                  17                 15279
2 0              5                   0                  7155
3 0              5                   0                  7138
4 0              5                   0                  6995
5 1              1                   0                 15396
6 0              5                   0                  7095

In [19]:
compare(model.sds, black_fri_sales)

ERROR: Error in compare(model.sds, black_fri_sales): object 'model.sds' not found